body {
    display: flex;
    width: 100%;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -150px;  
}

h3 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -10px; 
}

input {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 90px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    width: 450px;
    height: 500px;
    background-color: lightgrey;
}

button {
    background-color: blue;
    color: white;
    width: 100%;
    height: 40px;
}
input {
    padding: 10px 20px;
    width: 100%;
}

#akoord {
    padding: 0;
    width: 18px;
    height: 18px;
}

